---
layout: default
---
  
<article class="post">
  <h1>{{ page.title }}</h1>
  {% include GoogleTagManager_head.liquid %}

  <div class="entry">
    {% include reading-time.html %}
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
    {% include GoogleTagManager_body.liquid %}
  </div>

  <div class="rect">

    <h4>Related Posts:</h4>
    
    {% assign maxRelated = 4 %}
    {% assign minCommonTags =  1 %}
    {% assign maxRelatedCounter = 0 %}
    
    {% for post in site.posts %}
    
        {% assign sameTagCount = 0 %}
        {% assign commonTags = '' %}
    
        {% for category in post.categories %}
          {% if post.url != page.url %}
            {% if page.categories contains category %}
              {% assign sameTagCount = sameTagCount | plus: 1 %}
              {% capture tagmarkup %} <span class="label label-default">{{ category }}</span> {% endcapture %}
              {% assign commonTags = commonTags | append: tagmarkup %}
            {% endif %}
          {% endif %}
        {% endfor %}
    
        {% if sameTagCount >= minCommonTags %}
        <div>
          <h5><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}{{ commonTags }}</a></h5>
        </div>

          {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
          {% if maxRelatedCounter >= maxRelated %}
            {% break %}
          {% endif %}
        {% endif %}
    
      {% endfor %}
    
    </div>

  {% include disqus.html %}
</article>

<!-- Copy code to clipboard -->
<script>
  document
    .querySelector('.post-content')
    .querySelectorAll('pre.highlight')
    .forEach(function (pre) {
      var button = document.createElement('button');
      var copyText = 'Copy';
      button.className = 'copy';
      button.type = 'button';
      button.ariaLabel = 'Copy code to clipboard';
      button.innerText = copyText;
      button.addEventListener('click', function () {
        var code = pre.querySelector('code').innerText.trim();
        navigator.clipboard.writeText(code);
        button.innerText = 'Copied';
        setTimeout(function () {
          button.innerText = copyText;
        }, 4000);
      });
      pre.appendChild(button);
    });
</script>